body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
}

.logo img{
    margin-right: 600px;
    max-width: 191px;
}

.language {
    display: flex;
    align-items: center;
}

.language-select {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    margin-left: 15px;
}

.yellow-button {
    background-color: rgb(214, 214, 31);
    color: white;
        padding: 23px 11px;
        border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
}

.big-background-section {
    background-image: url('./image1.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 120px;
}

.text-container {
    max-width: 600px;
    margin-left: 10px;
    margin-right: auto;
}

.text-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 18px;
    margin-bottom: 30px;
}

.red-button {
    background-color: red;
    color: white;
    padding: 20px 4px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.blue-button {
    background-color: blue;
    color: white;
    padding: 20px 3px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.wide-blue-button {
    background-color: blue;
    color: white;
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-2 {
    position: absolute;
    top: 20%;
    right: 20px;

}

.angry-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    height: 100%;
     background-color: darkgrey;
}

#item-0,
#item-1 {
    background-color: rgba(0, 0, 0, 0.8);
    /* Dark and transparent background */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* Adjust the padding as needed */
}

.angry-grid img {
    max-width: 30%;
    height: auto;
}

.content {
    text-align: right;
    color: #fff;
    /* Text color */
}

h2 {
    margin-bottom: 10px;
}

p {
    cursor: pointer;
    /* Add a pointer cursor for the Learn More section */
    color: #fff;
    /* Learn More text color */
}

span {
    margin-left: 5px;
    /* Adjust spacing between text and arrow */
}


.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);    /* Adjusted to 4 columns */
    gap: 1px;
    background-color: rgb(21, 21, 88);
        height: 100%;
}
.grid-item {
    background-color: rgb(46, 46, 255);
    /* Dark and transparent background */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* Adjust the padding as needed */
    transition: transform 0.2s ease;
    /* Add transition for smooth movement */
    border: black 1px solid;
}

.grid-item:hover {
    transform: translateX(20px);
    /* Adjust the amount of shift as needed */
}

.grid-item-0 {
    grid-column-end: span 2;
    /* Spanning 2 columns */
}

.item-content {
    text-align: right;
    color: #fff;
    /* Text color */
}

.item-header {
    margin-bottom: 10px;
}

.learn-more {
    cursor: pointer;
    /* Add a pointer cursor for the Learn More section */
    color: #fff;
    /* Learn More text color */
}

.arrow {
    margin-left: 5px;
    /* Adjust spacing between text and arrow */
}

.custom-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    height: 100%;
}

.grid-item-01{
    background-color: #219527;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.grid-item-1 {
    background-color: #219527;
         grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.grid-item-2 {
    background-color: #219527;
        grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.grid-item-3 {
    background-color: #219527;
            grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.grid-item-4 {
    background-color: #219527;
            grid-row-start: 4;
    grid-column-start: 5;
    grid-row-end: 6;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.item-header {
    margin-bottom: 10px;
    color: #fff;
}

.personalized-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    height: 100%;
    background-color: #311438;
}

.personalized-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
    border: black 1px solid;
}

#personalized-item-0:hover,
#personalized-item-1:hover,
#personalized-item-4:hover {
    transform: translateY(0);
    /* No slide-up for these items */
}

.personalized-item:hover:not(#personalized-item-0):not(#personalized-item-1):not(#personalized-item-4) {
    transform: translateY(calc(100% - 40%));
}

#personalized-item-0,
#personalized-item-1,
#personalized-item-2,
#personalized-item-3,
#personalized-item-4 {
    background-color: #a509c8;
}

#personalized-item-0 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 4;
}

#personalized-item-1 {
    grid-row: 5 / span 2;
    grid-column: 1 / span 4;
}

#personalized-item-2 {
    grid-row: 1 / span 2;
    grid-column: 5 / span 4;
}

#personalized-item-3 {
    grid-row: 3 / span 2;
    grid-column: 5 / span 4;
}

#personalized-item-4 {
    grid-row: 5 / span 2;
    grid-column: 5 / span 4;
}

.personalized-img {
    max-width: 10%;
    height: auto;
}
.learning-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(11, 1fr);
    gap: 1px;
    height: 100%;
    background-color: rgb(1, 15, 68);
}

.learning-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #14185d;
    /* Light Blue color */
    transition: transform 0.99s ease;
}

#learning-item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
}

#learning-item-1 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 4;
}

#learning-item-2 {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 4;
    grid-column-end: 7;
}

#learning-item-3 {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 7;
}

#learning-item-4 {
    grid-row-start: 1;
    grid-column-start: 7;
    grid-row-end: 7;
    grid-column-end: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learning-img {
    max-width: 100%;
    height: auto;
}

.big-header {
    font-size: 36px;
    color: #ffffff;
    /* Black color */
}

#learning-item-0:hover {
    transform: translate(-8%, -8%);
}

#learning-item-1:hover {
    transform: translate(-8%, 8%);
}

#learning-item-2:hover {
    transform: translate(8%, -8%);
}

#learning-item-3:hover {
    transform: translate(8%, 8%);
}
.playful-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    height: 100%;
        background-color: #fdd25b;
}

.fun-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.999s ease;
    /* Added transition for smooth movement */
}

#fun-item-0 {
    background-color: #cb9500;
    /* Yellow color */
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 6;
}

#fun-item-1 {
    background-color: #cb9500;
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 9;
}

#fun-item-0:hover~#fun-item-1 {
    transform: translateX(20%);
    /* Shift item-1 to the right */
}

.funky-header {
    font-size: 24px;
    color: #ffffff;
    /* Black color */
}

.cool-text {
    font-size: 16px;
    color: #ffffff;
    /* Black color */
}

.quirky-arrow {
    font-size: 24px;
    color: #ffffff;
    /* Black color */
    cursor: pointer;
}